/*general*/
section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

H1{
font-size: 2.5rem;
font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura{
background-color: #1b1b32;
color: white;
}

.seccion-titulo{
font-family: 2rem;
padding: 15px 0;
font-family: 'Rubik Dirt', cursive;

}

.seccion-texto{
font-family: 1.5rem;
}

.seccion-clara{
color: black;
background-color: whitesmoke;

}

/*barra de navegacion*/
.navbar{
padding: 2rem;
background-color: white;
}

.navbar-collapse{
align-items: center;
justify-content: space-between;
background-color: white;
}
/*Hero*/
.hero{
background-color: white;
min-height: 450px;
text-align: center;
}

.Imagen-de-desarrollador{
    padding: 3rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
font-size: 1.5rem;
color: #615151;

}

.hero-inferior-imagen{
    width: 600px;
}
/*sobre mi */
.sobre-mi{

    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
max-width: 600px;
text-align: center;
}

/*experiencia*/

.experiencia{
    padding: 40px 40px 60px 40px;
}



.experiencia-titulo{
    font-size: 25px;
font-weight: bold;
margin: 10px 0;
}

.sub-titulo{
font-weight: bold;


}

.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
margin: 5px;

}

.experiencia .columna{
padding: 20px;
transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
color: white;
background-color: #1b1b32;

}

/*Overlay*/
.proyectos-recientes {
    padding: 40px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
  }
  
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
  /* Estudio */

.estudio {
    min-height: 500px;
    padding: 30px;
  }
  
  .estudio .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
  }
  
  .estudio .card-header {
    font-weight: bold;
  }
  
  /* Experiencia LABORAL */
  
  .trabajos {
    padding: 40px 40px 80px 40px;
  }
  
  .trabajos .carousel {
    max-width: 800px;
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .trabajos-imagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
  }
  
  .trabajos-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
  }
  
  .trabajos-info {
    font-weight: bold;
    text-align: center;
  }
  
  .trabajos-info p {
    margin-bottom: 0;
  }
  
  .trabajos-footer .cliente {
    font-size: 1.2rem;
  }
  
  .trabajos-info .cargo {
    font-size: 0.9rem;
    color: #656060;
  }
  
  
  
  /* Pie de pagina  */
  
  footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }
  

/*pantalla , seleccion max de resolucion, id y propiedad*/
@media screen and (max-width: 767px){ .navbar-brand{ display: none;}
}

@media screen and(min-widht: 700px) {
.hero-inferior-imagen{
    max-width: 600px;
    }
}